@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #78E5E5;
  --secondary-color: #00A2A2;
  --tertriary-color: #F7FDFD;
  --black-color: #000000E6;
  --white-color: #FAFEFE;
  --linear-gradient: linear-gradient(to right, #DFF8F8, #99E9E9);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--linear-gradient);
  padding-top: 4rem;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

section {
  position: relative;
}
@media (min-width: 320px) {
  section {
    padding: 0 1.5rem;
  }
}
@media (min-width: 768px) {
  section {
    padding: 0 3rem;
  }
}
@media (min-width: 1024px) {
  section {
    padding: 0 10rem;
  }
}
@media (min-width: 1440px) {
  section {
    padding: 0 15rem;
  }
}

button {
  cursor: pointer;
}

nav .desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding: 2rem;
  gap: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
@media (min-width: 320px) {
  nav .desktop {
    padding: 0 2rem;
  }
}
@media (min-width: 768px) {
  nav .desktop {
    padding: 0 2rem;
  }
}
@media (min-width: 1024px) {
  nav .desktop {
    padding: 0 2rem;
  }
}
@media (min-width: 1440px) {
  nav .desktop {
    padding: 0 2rem;
  }
}
nav .desktop .logo-wrapper {
  flex: 0.5;
  width: 10rem;
}
nav .desktop .logo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .desktop .input-wrapper {
  flex: 2;
  display: flex;
  justify-content: center;
}
nav .desktop .input-wrapper input {
  width: 70%;
  height: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: none;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 0 1rem;
}
nav .desktop .link-wrapper {
  flex: 1;
}
nav .desktop .link-wrapper ul {
  justify-content: center;
  display: flex;
  gap: 1rem;
  list-style: none;
  font-weight: bold;
  font-size: 1rem;
}
nav .desktop .link-wrapper ul li {
  padding: 1rem;
  color: var(--black-color);
}
nav .desktop .username-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  font-weight: bold;
}
nav .mobile {
  display: none;
}
nav .mobile .show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding: 1rem;
  gap: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
nav .mobile .show .logo-wrapper {
  flex: 1;
  min-width: 5rem;
}
nav .mobile .show .logo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .mobile .show .input-wrapper {
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav .mobile .show .input-wrapper input {
  width: 70%;
  height: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: none;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 0 1rem;
}
nav .mobile .show .input-wrapper .burger-wrapper {
  padding: 0.5rem;
  cursor: pointer;
}
nav .mobile .show .input-wrapper .burger-wrapper svg {
  width: 2rem;
}
nav .mobile .middle {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
  display: none;
  transition: all 0.5s ease;
}
nav .mobile .hidden {
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  position: fixed;
  width: 50%;
  height: 100vh;
  top: 0;
  right: -100%;
  z-index: 1002;
  transition: all 0.5s ease;
}
nav .mobile .hidden .logo-wrapper {
  padding: 1rem;
  width: 100%;
  background-color: var(--secondary-color);
}
nav .mobile .hidden .logo-wrapper img {
  width: 10rem;
}
nav .mobile .hidden .conternt-inner-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}
nav .mobile .hidden .conternt-inner-wrapper .link-wrapper .link ul {
  padding: 0;
  font-weight: bold;
}
nav .mobile .hidden .conternt-inner-wrapper .link-wrapper .link ul li {
  color: var(--black-color) !important;
}
nav .mobile .hidden .conternt-inner-wrapper .username-wrapper {
  color: var(--white-color);
  font-weight: bold;
}
@media (max-width: 900px) {
  nav .desktop {
    display: none;
  }
  nav .mobile {
    display: block;
  }
}

.location {
  margin-bottom: 1rem;
}
.location h1 {
  margin: 0;
  font-weight: bolder;
  font-size: rem;
}
.location h1::before {
  content: "-";
}
.location h1::after {
  content: "-";
}
.location h3 {
  margin-bottom: 0;
  margin-top: 2rem;
}

.highlight .highlight-content-wrapper {
  background-color: var(--white-color);
  max-width: 50rem;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid var(--black-color);
  margin-bottom: 3rem;
  box-shadow: 25px 30px 17px 0px rgba(0, 0, 0, 0.1);
}
.highlight .highlight-content-wrapper h2 {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2rem;
}
.highlight .highlight-content-wrapper .sun-information {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 2rem;
}
.highlight .highlight-content-wrapper .sun-information .info {
  display: flex;
}
.highlight .highlight-content-wrapper .sun-information .info p {
  margin: 0;
}
.highlight .highlight-content-wrapper .additional {
  display: flex;
  align-items: center;
  max-width: 40rem;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}
.highlight .highlight-content-wrapper .additional p {
  margin: 0;
  text-align: center;
}

.forecast-outer {
  height: 40rem;
}
.forecast-outer h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.forecast-outer .wrapper {
  position: relative;
  margin-bottom: 1rem;
}
.forecast-outer label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;
  transition: 0.2s ease-out;
}
.forecast-outer label {
  height: 20px;
  width: 50px;
  position: absolute;
  left: 0px;
  background-color: #DDDDDD;
  z-index: 1;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 25px;
}
.forecast-outer .checkbox {
  visibility: hidden;
  height: 0;
  width: 0;
}
.forecast-outer .checkbox:checked + label {
  background-color: #6EDC5F;
}
.forecast-outer .checkbox:checked + label::before {
  transform: translateX(300%);
  background-color: rgb(255, 255, 255);
}

.forecast {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--tertriary-color);
  border: 2px solid var(--black-color);
  border-radius: 1rem;
}
.forecast .forecast-content-wrapper-week {
  display: flex;
  background-color: var(--tertriary-color);
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  overflow-x: scroll;
  justify-content: space-between;
  gap: 1rem;
  display: none;
}
.forecast .forecast-content-wrapper-week::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.forecast .forecast-content-wrapper-week::-webkit-scrollbar-track {
  background: transparent;
}
.forecast .forecast-content-wrapper-week::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 2px;
}
.forecast .forecast-content-wrapper-week .card {
  position: relative;
  background-color: orange;
  padding: 1rem;
  border-radius: 0.8rem;
}
.forecast .forecast-content-wrapper-week .card h5 {
  margin: 0;
}
.forecast .forecast-content-wrapper-week .card img {
  max-width: 5rem;
}
.forecast .forecast-content-wrapper-week .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), transparent);
}
.forecast .forecast-wrapper-hour {
  overflow-x: scroll;
}
.forecast .forecast-wrapper-hour::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.forecast .forecast-wrapper-hour::-webkit-scrollbar-track {
  background: transparent;
}
.forecast .forecast-wrapper-hour::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 2px;
}
.forecast .forecast-wrapper-hour .am {
  display: flex;
  background-color: var(--tertriary-color);
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  justify-content: space-between;
  gap: 1rem;
}
.forecast .forecast-wrapper-hour .am .card {
  position: relative;
  background-color: rgb(60, 255, 0);
  padding: 1rem;
  border-radius: 0.8rem;
}
.forecast .forecast-wrapper-hour .am .card h5 {
  margin: 0;
}
.forecast .forecast-wrapper-hour .am .card img {
  max-width: 3.5rem;
}
.forecast .forecast-wrapper-hour .am .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(174, 226, 255, 0.5), transparent);
}
.forecast .forecast-wrapper-hour .pm {
  display: flex;
  background-color: var(--tertriary-color);
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  justify-content: space-between;
  gap: 1rem;
}
.forecast .forecast-wrapper-hour .pm .card {
  position: relative;
  background-color: rgb(98, 0, 255);
  padding: 1rem;
  border-radius: 0.8rem;
}
.forecast .forecast-wrapper-hour .pm .card h5 {
  margin: 0;
}
.forecast .forecast-wrapper-hour .pm .card img {
  max-width: 3.5rem;
}
.forecast .forecast-wrapper-hour .pm .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(174, 226, 255, 0.5), transparent);
}

footer {
  background-color: var(--secondary-color);
  padding: 2rem 5rem;
}
footer .top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .top .about, footer .top .newsletter, footer .top .link, footer .top .social {
  flex: 1;
  margin: 1rem;
  min-width: 20rem;
}
footer .top .link ul {
  padding: 0;
}
footer .top .link ul li {
  border-bottom: 1px solid var(--white-color);
}
footer .top .newsletter input {
  border: none;
  height: 2rem;
  border-radius: 5px;
}
footer .top .newsletter button {
  border: none;
  height: 2.2rem;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(194, 6, 6);
  color: var(--white-color);
}
footer .top .social .social-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .top .social .social-icon svg {
  width: 2rem;
  padding: 1rem;
  cursor: pointer;
}
footer .copyright {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
}

#mobile-hidden-wrapper {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ul-hidden-mobile {
  padding: 0;
}

#li-hidden-mobile {
  color: var(--black-color);
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#username-hidden-mobile {
  color: var(--white-color);
  font-weight: bold;
  padding: 1rem;
}

.hero-article-section {
  height: 70vh;
  background-image: url("./assets/article/article page-use 1.png");
  background-repeat: no-repeat;
  background-size: 110%;
}
.hero-article-section h1 {
  padding-top: 15%;
  margin: 0;
}
.hero-article-section h5 {
  margin: 0;
}
.hero-article-section p {
  max-width: 30rem;
  margin: 0;
}
.hero-article-section button {
  display: block;
  margin: 1rem 0;
  background-color: var(--white-color);
  height: 2rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.article .one,
.article .two,
.article .three {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.article .one .info,
.article .two .info,
.article .three .info {
  display: flex;
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--white-color);
}
.article .one .info .content h3,
.article .two .info .content h3,
.article .three .info .content h3 {
  font-size: 1.5rem;
}
.article .one .info .content p,
.article .two .info .content p,
.article .three .info .content p {
  max-width: 20rem;
}
@media (max-width: 768px) {
  .article .one .info .content p,
  .article .two .info .content p,
  .article .three .info .content p {
    max-width: 100%;
  }
}
.article .one .info img,
.article .two .info img,
.article .three .info img {
  max-width: 100%;
  height: auto;
}
.article .one .left,
.article .two .left,
.article .three .left {
  flex: 3;
}
@media (max-width: 768px) {
  .article .one .left,
  .article .two .left,
  .article .three .left {
    flex: 1;
  }
}
.article .one .right,
.article .two .right,
.article .three .right {
  flex: 1;
  background-color: var(--secondary-color);
}
@media (max-width: 768px) {
  .article .one .right,
  .article .two .right,
  .article .three .right {
    flex: 1;
    background-color: var(--white-color);
  }
}
.article .one:nth-child(2) .info,
.article .two:nth-child(2) .info,
.article .three:nth-child(2) .info {
  flex-direction: column;
}
.article .two {
  justify-content: space-between;
}
.article .two .info {
  flex-direction: column;
}
.article .two .info img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .article .two .info img {
    max-width: 100%;
  }
}
.article .three .info .left,
.article .three .info .right {
  background-color: var(--white-color);
}
@media (max-width: 1600px) {
  .article .one,
  .article .two,
  .article .three {
    flex-direction: column;
  }
  .article .one .info,
  .article .two .info,
  .article .three .info {
    flex-direction: column;
  }
  .article .one .info img,
  .article .two .info img,
  .article .three .info img {
    max-width: 100%;
  }
  .article .two .info {
    flex-direction: column;
  }
  .article .two .info img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .article .one,
  .article .two,
  .article .three {
    flex-direction: column;
  }
  .article .one .info,
  .article .two .info,
  .article .three .info {
    flex-direction: column;
  }
  .article .one .info img,
  .article .two .info img,
  .article .three .info img {
    max-width: 100%;
  }
  .article .two {
    flex-direction: column;
  }
  .article .two .info {
    flex-direction: row;
  }
  .article .two .info img {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */