@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --primary-color : #78E5E5;
    --secondary-color : #00A2A2;
    --tertriary-color: #F7FDFD;

    --black-color : #000000E6;
    --white-color: #FAFEFE;

    --linear-gradient: linear-gradient(to right, #DFF8F8, #99E9E9);


}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--linear-gradient);

    padding-top:4rem;
    position: relative;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white-color);
}

section{
    position: relative;
    @media (min-width: 320px) {
        padding: 0 1.5rem;
    }

    @media (min-width: 768px) {
        padding: 0 3rem;
    }

    @media (min-width: 1024px) {
        padding: 0 10rem;
    }

    @media (min-width: 1440px) {
        padding: 0 15rem;
    }
}

button{
    cursor: pointer;
}

nav{
    .desktop{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        background-color: var(--primary-color);
        border-bottom: 2px solid var(--secondary-color);
        padding: 2rem;
        gap: 1rem;
    
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    
        @media (min-width: 320px) {
            padding: 0 2rem;
        }
    
        @media (min-width: 768px) {
            padding: 0 2rem;
        }
    
        @media (min-width: 1024px) {
            padding: 0 2rem;
        }
    
        @media (min-width: 1440px) {
            padding: 0 2rem;
        }
    
        .logo-wrapper{
            flex: .5;
            width: 10rem;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    
        .input-wrapper{
            flex: 2;
            display: flex;
            justify-content: center;
    
            input{
                width: 70%;
                height: 2rem;
                box-sizing: border-box;
                border-radius: 1rem;
                border: none;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
                padding: 0 1rem;
            }
        }
    
        .link-wrapper{
            flex: 1;
    
            ul{
                justify-content: center;
                display: flex;
                gap: 1rem;
                list-style: none;
    
                font-weight: bold;
                font-size: 1rem;
    
                li{
                    padding: 1rem;
                    color: var(--black-color);
                }
            }
        }
    
        .username-wrapper{
            flex: 1;
            display: flex;
    
            justify-content: center;
            color: var(--white-color);

            font-weight: bold;
            
        }
        //display: none;
    }

    .mobile{
        .show{
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            background-color: var(--primary-color);
            border-bottom: 2px solid var(--secondary-color);
            padding: 1rem;
            gap: 1rem;
        
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;

            .logo-wrapper{
                flex: 1;
                min-width: 5rem;
        
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        
            .input-wrapper{
                flex: 10;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
        
                input{
                    width: 70%;
                    height: 2rem;
                    box-sizing: border-box;
                    border-radius: 1rem;
                    border: none;
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
                    padding: 0 1rem;
                }

                .burger-wrapper{
                    padding: .5rem;
                    cursor: pointer;

                    svg{
                        width: 2rem;
                    }
                }
            }
        }

        .middle{
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1002;
            display: none;

            transition: all .5s ease;

        }

        .hidden{
            align-items: center;
            justify-content: space-between;
            background-color: var(--primary-color);
        
            position: fixed;
            width: 50%;
            height: 100vh;
            top: 0;
            right: -100%;
            z-index: 1002;

            transition: all .5s ease;


            .logo-wrapper{
                padding: 1rem;
                width: 100%;
                background-color: var(--secondary-color);
        
                img{
                    width: 10rem;
                }
            }

            .conternt-inner-wrapper{
                height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                padding: 0 1rem;

                .link-wrapper{
                    .link{
                        ul{
                            padding: 0;
                            font-weight: bold;
                
                            li{
                                color: var(--black-color) !important;
                            }
                        }
                    }
                }

                .username-wrapper{
                    color: var(--white-color);
                    font-weight: bold;
                }
            }
        }
        display: none;
    }

        //small navbar
        @media (max-width: 900px){
            .desktop{
                display: none;
            }

            .mobile{
                display: block;
            }
        }
}

.location{
    h1{
        margin: 0;
        font-weight: bolder;
        font-size: rem;

        &::before{
            content: "-";
        }

        &::after{
            content: "-";
        }
    }

    h3{
        margin-bottom: 0;
        margin-top: 2rem;
    }

    margin-bottom: 1rem;
}

.highlight{
    
    .highlight-content-wrapper{
        background-color: var(--white-color);
        max-width: 50rem;
        border-radius: 1rem;
        margin: 0 auto;
        padding: 1rem;

        border: 2px solid var(--black-color);
        margin-bottom: 3rem;
        box-shadow: 25px 30px 17px 0px rgba(0,0,0,0.1);
        h2{
            margin: 0 auto;
            width: fit-content;
            margin-bottom: 2rem;
        }

        .sun-information{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 20rem;
            flex-wrap: wrap;
            margin-bottom: 2rem;
            gap: 2rem;


            .info{
                display: flex;

                p{
                    margin: 0;
                }
            }
        }

        .additional{
            display: flex;
            align-items: center;
            max-width: 40rem;
            justify-content: center;
            margin: 0 auto;
            flex-wrap: wrap;
            gap: 2rem;

            p{
                margin: 0;
                text-align: center;
            }
        }
    }
}

.forecast-outer{
    height: 40rem;
    h5{
       margin-top: 0;
       margin-bottom: .5rem;
    }
    .wrapper {
        position: relative;
        margin-bottom: 1rem;
      }
      
      label::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        width: 10px;
        background-color: #fff;
        border-radius: 50%;
        margin: 5px;
        transition: 0.2s ease-out;
      }
    
      label{
        height: 20px;
        width: 50px;
        position: absolute;
        left: 0px;
        background-color: #DDDDDD;
        z-index: 1;
        transition: 0.2s;
        cursor: pointer;
        border-radius: 25px;
      }
    
      .checkbox{
        visibility: hidden;
        height: 0;
        width: 0;
      }
    
      .checkbox:checked + label{
        background-color: #6EDC5F;
      }
      
      .checkbox:checked + label::before {
        transform: translateX(300%);
        background-color: rgb(255, 255, 255);
        
      }
}
.forecast{
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--tertriary-color);
    border: 2px solid var(--black-color);
    border-radius: 1rem;


    .forecast-content-wrapper-week{

        display: flex;
        background-color: var(--tertriary-color);
        max-width: 90rem;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 1rem;
        position: relative;
        overflow-x: scroll;
        justify-content: space-between;
        gap: 1rem;

        display: none;

        &::-webkit-scrollbar {
            width: 5px; 
            height: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5); 
            border-radius: 10px;
            width: 2px;
        }

        .card{
            position: relative;
            background-color: orange;
            padding: 1rem;
            border-radius: .8rem;

            h5{
                margin: 0;
            }

            img{
                max-width: 5rem;
            }

            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 80%;
                left: 0;
                bottom: 0;
                background: linear-gradient(to top, rgba(255, 255, 255, 0.5), transparent);
    
            }
        }
    }

    .forecast-wrapper-hour{
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 5px; 
            height: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5); 
            border-radius: 10px;
            width: 2px;
        }

        .am{
            display: flex;
            background-color: var(--tertriary-color);
            max-width: 90rem;
            margin: 0 auto;
            padding: 1rem;
            border-radius: 1rem;
            position: relative;
            justify-content: space-between;
            gap: 1rem;

            .card{
                position: relative;
                background-color: rgb(60, 255, 0);
                padding: 1rem;
                border-radius: .8rem;
    
                h5{
                    margin: 0;
                }
    
                img{
                    max-width: 3.5rem;
                }
    
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 80%;
                    left: 0;
                    bottom: 0;
                    background: linear-gradient(to top, rgba(174, 226, 255, 0.5), transparent);
        
                }
            }
        }

        .pm{
            display: flex;
            background-color: var(--tertriary-color);
            max-width: 90rem;
            margin: 0 auto;
            padding: 1rem;
            border-radius: 1rem;
            position: relative;
            justify-content: space-between;
            gap: 1rem;

            .card{
                position: relative;
                background-color: rgb(98, 0, 255);
                padding: 1rem;
                border-radius: .8rem;
    
                h5{
                    margin: 0;
                }
    
                img{
                    max-width: 3.5rem;
                }
    
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 80%;
                    left: 0;
                    bottom: 0;
                    background: linear-gradient(to top, rgba(174, 226, 255, 0.5), transparent);
        
                }
            }
        }
    }
}

footer{
    background-color: var(--secondary-color);
    padding: 2rem 5rem;
    .top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .about, .newsletter, .link, .social {
            flex: 1; 
            margin: 1rem; 
            min-width: 20rem;
        }

        .link{
            ul{
                padding: 0;

                li{
                    border-bottom: 1px solid var(--white-color);
                }
            }
        }

        .newsletter{
            input{
                border: none;
                height: 2rem;
                border-radius: 5px;
            }

            button{
                border: none;
                height: 2.2rem;
                border-radius: 5px;
                font-weight: bold;
                background-color: rgb(194, 6, 6);
                color: var(--white-color);
            }
        }

        .social{
            .social-icon{
                display: flex;
                align-items: center;
                gap: 1rem;

                svg{
                    width: 2rem;
                    padding: 1rem;
                    cursor: pointer;
                }
            }
        }
    }

    .copyright{
        width: fit-content;
        margin: 0 auto;
        margin-top: 3rem;
        text-align: center;
    }
}

#mobile-hidden-wrapper{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ul-hidden-mobile{
    padding: 0;
}

#li-hidden-mobile{
    color: var(--black-color);
    font-weight: bold;
    padding: .5rem;
    margin-bottom: 1rem;
}

#username-hidden-mobile{
    color: var(--white-color);
    font-weight: bold;
    padding: 1rem;
}


.hero-article-section{
    height: 70vh;
    background-image: url("./assets/article/article\ page-use\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        padding-top: 15%;
        margin:0;
    }

    h5{
        margin:0;
    }

    p{
        max-width: 30rem;
        margin:0;
    }

    button{
        display: block;
        margin: 1rem 0;

        background-color: var(--white-color);
        height: 2rem;
        border: none;
        border-radius: 5px;
        font-weight: bold;
    }

}


.article {
    .one,
    .two,
    .three {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
  
      .info {
        display: flex;
        gap: 1rem;
        border-radius: 10px;
        padding: 1rem;
        background-color: var(--white-color);
  
        .content {
          h3 {
            font-size: 1.5rem;
          }
  
          p {
            max-width: 20rem;
            @media (max-width: 768px) {
              max-width: 100%;
            }
          }
        }
  
        img {
          max-width: 100%;
          height: auto;
        }
      }
  
      .left {
        flex: 3;
  
        @media (max-width: 768px) {
          flex: 1;
        }
      }
  
      .right {
        flex: 1;
        background-color: var(--secondary-color);
  
        @media (max-width: 768px) {
          flex: 1;
          background-color: var(--white-color);
        }
      }
  
      &:nth-child(2) .info {
        flex-direction: column;
      }
    }

    .two{
        justify-content: space-between;
    }
  
    .two .info {
      flex-direction: column;
  
      img {
        max-width: 100%;
  
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }
  
    .three .info {
      .left,
      .right {
        background-color: var(--white-color);
      }
    }
  
    @media (max-width: 1600px) {
      .one,
      .two,
      .three {
        flex-direction: column;
  
        .info {
          flex-direction: column;
  
          img {
            max-width: 100%;
          }
        }
      }
  
      .two .info {
        flex-direction: column;
        img {
          max-width: 100%;
        }
      }
    }
  
    @media (max-width: 768px) {
      .one,
      .two,
      .three {
        flex-direction: column;
  
        .info {
          flex-direction: column;
  
          img {
            max-width: 100%;
          }
        }
      }
  
      .two {
        flex-direction: column;
  
        .info {
          flex-direction: row;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  